* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "inter", sans-serif;
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

body main nav {
  margin-top: 15px;
  height: 85px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main nav a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
  transition: ease-in-out 0.3s;
}
body main nav a:hover {
  color: var(--Soft-red);
  transition: ease-in-out 0.3s;
}
body main nav img {
  image-resolution: 1080px;
  display: flex;
}
nav img:nth-of-type(2) {
  display: none;
}
body main nav ul {
  list-style: none;
  display: flex;
}

body main nav ul li {
  padding-right: 45px;
}
main {
  max-width: 90%;
  margin: auto;
}
.last-one li {
  padding: 0;
}

.content {
  /* background-color: black; */
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content1 {
  width: 67%;
  height: 550px;
  /* background-color: blue; */
}
.content1 img:nth-of-type(2) {
  display: none;
}
.content1 img:nth-of-type(1) {
  width: 100%;
}
.words {
  display: flex;
  width: 100%;
}
.ech {
  width: 40%;
}
.ech h1 {
  margin-top: 30px;
  margin-top: 10px;
  font-size: 50px;
  font-weight: 800;
  width: 100%;
  line-height: 60px;
}
.readmore {
  float: right;
  width: 50%;
}
.readmore p {
  padding-top: 20px;
  width: 80%;
  float: right;
  font-weight: 400;
  line-height: 25px;
}

.readmore button {
  margin-top: 14px;
  width: 190px;
  height: 50px;
  cursor: pointer;
  color: var(--Very-dark-blue);
  font-size: 15px;
  background-color: var(--Soft-red);
  border: var(--Soft-red);
  transition: ease-in-out 0.3s;
}
.readmore button:hover {
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
  transition: ease-in-out 0.9s;
}

.content2 {
  float: right;
  height: 530px;
  color: var(--Off-white);
  width: 30%;
  background-color: var(--Very-dark-blue);
}
.new {
  padding: 40px 39px;
}

.new h1 {
  color: var(--Soft-orange);
  font-size: 39px;
  margin-bottom: 20px;
}

.new h3 {
  font-size: 20px;
  margin-bottom: 19px;
  transition: ease-in-out 0.3s;
}

.new h3:hover {
  color: var(--Soft-orange);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.new p {
  margin-bottom: 8px;
  padding-bottom: 21px;
  border-bottom: solid white 1px;
}

.last-part {
  font-family: "inter", sans-serif;
  font-weight: 400;
  display: flex;
  color: var(--Grayish-blue);
  margin-top: 360px;
  margin-bottom: 20px;
  width: 100%;
}

.last-part img {
  height: 120px;
}
.last-part b {
  color: var(--Soft-red);
  font-size: 35px;
}
.last-part strong {
  line-height: 30px;
  font-size: 18px;
  color: var(--Very-dark-blue);
  transition: ease-in-out 0.4s;
}
.last-part strong:hover {
  color: var(--Soft-red);
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
.last-part p {
  color: var(--Dark-grayish-blue);
  line-height: 25px;
}
/* picture one */
.pcs {
  width: 31%;
  display: flex;
  margin-right: 36px;
}

.page1 {
  width: 100%;
  margin-left: 20px;
}

/* picture two */
.bin {
  width: 31%;
  display: flex;
  margin-right: 55px;
}

.page2 {
  width: 100%;
  margin-left: 20px;
}

/* picture three */
.game {
  width: 31%;
  display: flex;
}

.page3 {
  width: 100%;
  margin-left: 20px;
}

.offcanvas-body{
  display: none;
}
/* PHONE */
@media (max-width: 500px) {
  main {
    max-width: 95%;
    margin: auto;
  }

  body main nav ul {
    display: none;
  }

  nav img:nth-of-type(2) {
    display: block;
  }

  .content {
    flex-direction: column;
  }
  .content1 {
    margin-bottom: 70px;
    height: 1300px;
    width: 100%;
  }
  .content1 img:nth-of-type(2) {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .content1 img:nth-of-type(1) {
    display: none;
  }
  .words {
    flex-direction: column;
  }
  .ech {
    width: 100%;
  }
  .ech h1 {
    margin-top: 20px;
    font-size: 45px;
    line-height: 40px;
  }
  .readmore {
    width: 100%;
  }
  .readmore p {
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
  }
  .content2 {
    height: 610px;
    width: 100%;
  }
  .new {
    padding: 32px 20px;
  }
  .new h1 {
    margin-bottom: 12px;
  }
  .new h3 {
    font-size: 22px;
  }
  .new h3:hover {
    color: var(--Off-white);
    transition: none;
    cursor: text;
  }
  .new p {
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
  .readmore button {
    margin-top: 29px;
    width: 50%;
    height: 60px;
    font-size: 17px;
  }
  .last-part {
    transition: none;
    display: block;
    margin-top: 1230px;
    margin-bottom: 80px;
  }
  .last-part img {
    height: 150px;
    width: 30%;
  }
  .last-part p {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
  }
  .last-part b {
    font-size: 42px;
    font-weight: 600;
  }
  .last-part strong {
    font-size: 21px;
    font-weight: 600;
  }
  .pcs {
    width: 100%;
    transition: none;
    cursor: text;
    margin-bottom: 25px;
  }
  .page1{
    width: 70%;
  }
  .bin {
    width: 100%;
    transition: none;
    cursor: text;
    margin-bottom: 25px;
  }
  .page2{
    width: 70%;
  }
  .game {
    transition: none;
    cursor: text;
    width: 100%;
  }
  .page3{
    width: 70%;
  }
.offcanvas-header h1{
font-size: 37px;
}

  .offcanvas-body{
    display: block;
  }

  .offcanvas-body ul{
  list-style: none;
  transition: ease-in-out 0.9s;
  }
  .offcanvas-body ul a{
    text-decoration: none;
    font-size: 24px;
    width: 100%;
    color: var(--Dark-grayish-blue);
  }
  .offcanvas-body ul :hover{
    color:var(--Off-white);
    font-size: 34px;
    transition: ease-in-out 0.5s;
  }
  .offcanvas-body ul a i{
    padding-right: 10px;
  }

}
